* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: black;
}

#event {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: black;
  width: 1000px;
  height: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  padding: 15px;
  grid-column-gap: 15px;
}

.text {
  font-family: "Oswald";
  color: white;
}

#image {
  grid-column: 1 / 1;
  grid-row: 1 / 4;

  height: 100%;
  background-color: #EF4423;
}

#date {
  grid-column: 2 / 2;
  grid-row: 1 / 1;

}

#artist {
  grid-column: 2 / 4;
  grid-row: 2 / 2;
}

#room {
  grid-column: 2 / 2;
  grid-row: 3 / 3;
}

#price {
  grid-column: 2 / 2;
  grid-row: 3 / 3;

  justify-self: end;
}

.button {
  grid-column: 3 / 3;
  grid-row: 3 / 3;

  border: none;
  background-color: #EF4423;
  color: black;
  font-family: Rajdhani;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  width: 300px;
  height: 50px;
  justify-self: end;
  transition: color 0.7s, background-color 0.1s;
}

.button:hover {
  color: #EF4423;
  background-color: black;
}
