/* General */
h4 {
  font-family: 'Oswald';
  font-size: 22px;
  margin: 10px 0px;
}

h3 {
  grid-column: 2 / 2;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10px;
}

/* Contact Intro */
#contact-intro-wrapper {
  width: 60%;
  margin: auto;
}

#contact-intro-wrapper > p {
  font-family: 'Rajdhani';
  margin: 100px 0 50px 0;
  line-height: 2em;
  text-align: center;
}

/* FAQs */
#faq-container {
  display: block;
  margin: 20px auto;
  width: 60%;
}

#faq-container {
  grid-column: 2 / 2;
  height: 200px;
  margin-bottom: 50px;
}

#question-text {
  width: auto;
}

.dropdown-arrow {
  position: absolute;
  top: -2px;
  right: 0;
  height: 20px;
}

.question-box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.faq-item {
  border-top: solid #ededed 2px;
}

.faq-text {
  font-family: arial;
  color: #ededed;
}

.question-text {
  font-weight: bold;
}

.text-container {
  margin: 10px 0px 15px 0px;
}

.answer-box {
  display: none;
}

/* Contact Form */
#contact-form-container {
  width: 60%;
  margin: auto;
}

#contact-form {
  display: block;
  margin: 0px auto 20px auto;
  border: 2px solid #ededed;
  border-radius: 5px;
}

#poc-dropdown {
  position: relative;
  height: 30px;
  border-top: 2px #ededed solid;
  padding-top: 5px;
  margin: 20px 20px 40px 20px;
}

#poc-dropdown > p {
  font-size: 16px;
}

#poc-dropdown-arrow {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
}

#contact-form > textarea, #contact-form > input {
  display: block;
  color: #ededed;
  font-family: Arial;
  font-size: 14px;
  margin: 20px;
  background: transparent;
  border: 2px solid #ededed;
  border-radius: 5px;
}

#contact-form > p {
  display: block;
  margin: 20px;
}

#contact-form > button {
  width: calc(100% - 40px);
  margin: 20px;
  display: block;
}

.menu-option {
  font-family: 'Rajdhani';
  text-transform: uppercase;
  display: block;
}

.menu-option:hover {
  background: #e8513a;
  color: #111111;
}

#email-input {
  width: calc(100% - 40px);
  height: 30px;
}

#message-box {
  width: calc(100% - 40px);
  height: 100px;
}

/* Imagery */
#contact-background-image {
  position: fixed;
  top: 0;
  opacity: .22;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 0;
  pointer-events: none;
}

#title-stamp {
  position: absolute;
  width: 280px;
  top: -50px;
  left: 48%;
}

.manhole {
  grid-column: 2 / 2;
}
