/* EVENTS */

body {
  background-color: #111111;
  height: auto;
}

#event-list {
  margin: auto;
  width: 1000px;
  height: 100%;
}

/* event module */
.event-module {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  width: 900px;
  height: 240px;
  border: #111111 solid 2px;
  border-radius: 10px;
  margin: 25px 50px;
  padding: 15px 40px;
  font-family: "Arial";
  color: white;
  background-color: #ededed;
}

.text {
  color: #111111;
}

.event-promoter {
  grid-row: 2 / 2;
  grid-column: 2 / 4;

}

.event-artist {
  text-shadow: 0 0 3px #ededed;
  grid-row: 2 / 2;
  grid-column: 2 / 4;
}

.event-date {
  grid-row: 1 / 1;
  grid-column: 2 / 4;

}

.event-room {
  grid-row: 3 / 3;
  grid-column: 2 / 2;
  text-align: left;
}

.event-price {
  grid-row: 3 / 3;
  grid-column: 2 / 2;
  text-align: right;
}

.event-image {
  grid-row: 1 / 4;
  grid-column: 1 / 1;
  height: 100%;
  filter: grayscale(100%);
  background-position: center;
  border-radius: 10px;
}

.button {
  grid-row: 3 / 3;
  grid-column: 3 / 3;
  background-color: #e8513a;
  font-family: "Rajdhani";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: black;
  width: 225px;
  justify-self: right;
  transition: color 0.7s, background-color 0.1s;
  z-index: 0;
}

.button:hover {
  color: #e8513a;
  background-color: #070707;
}

.barcode {
  grid-row: 1 / 1;
  grid-column: 3 / 3;
  transform: rotate(.75turn);
  justify-self: right;
  height: 40px;
  width: 70px;
  position: relative;
  left: 20px;
}
