#event-list {
  position: relative;
}

/* Event Module */
.module-container {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 314px;
  border-radius: 5px;
  margin: 50px auto;
  filter: saturate(10%);
  transition: filter .7s;
  border: 2px solid #F0FCFC;
}

.module-container:hover {
  filter: saturate(100%);
}

.event-text-area {
  display: block;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: rgba(17,17,17,0.5);
  font-family: arial;
  color: #F0FCFC;
}

.date {
  display: block;
  font-family: courier;
  font-size: 16px;
  margin: 5px 10px;
}

.headliner {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 10px;
  text-transform: uppercase;
}

.price {
  display: inline-block;
  font-size: 16px;
  margin: 5px 20px;
}

.buy-button {
  position: absolute;
  width: 140px;
  height: 34px;
  text-transform: uppercase;
  background: #e8513a;
  border: none;
  border-radius: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: #F0FCFC;
  transition: color 0.7s, background-color 0.1s;
  filter: saturate(100%);
}

.buy-button:hover {
  color: #e8513a;
  background: #F0FCFC;
}

/* Stamp */
#title-stamp {
  top: -70px;
  left: 45%;
}

/* manhole */
.manhole {
  margin-bottom: 15px;
}
