/* General */
#body {
  position: relative;
  background: #11111;
}

/* About Statement */
#about-container {
  padding: 5px;
  height: 200px;
  background: #111111;
}

#about-container > p {
  display: block;
  text-align: center;
  margin: auto;
  width: 400px;
  margin-bottom: 20px;
}

/* Featured Events */
#featured-events-container {
  display: flex;
  flex-direction: row;
}

.featured-event {
  height: 400px;
  width: 400px;
}

#featured-event-1 {
  background: red;
}

#featured-event-2 {
  background: green;
}

#featured-event-3 {
  background: blue;
}
