#local161-banner {
  position: relative;
  background: #e8513a;
  height: 75px;
  overflow: hidden;
}

#local161-banner-text-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  animation: marquee 30s linear infinite;
}

@media (max-width: 750px) {
  #local161-banner-text-wrapper {
    animation: marquee 10s linear infinite;
  }
}

#local161-banner > a {
  text-decoration: none;
}

.local161-banner-text {
  display: inline;
  font-family: 'Oswald';
  font-size: 46px;
  font-weight: 600;
  width: 100vw;
  text-transform: uppercase;
  height: 100%;
  color: #111111;
}

@keyframes marquee {
  0% { right: -100%; }
  100% { right: 100% }
}
