/* General */

.text > h1 {
  margin-bottom: 0;
}

.text > p, ul {
  display: block;
  margin-bottom: 20px;
  font-family: courier;
  line-height: 1.4em;
}

.text > img {
  display: block;
  margin: auto;
  width: 100px;
  padding-top: 30px;
}

li {
  margin-bottom: 15px;
}

.arial-bold-text {
  font-family: arial;
  font-size: 16px;
  font-weight: 600;
}

/* Action Button */
#action-button-local161 {
  background: #e06736;
  color: #111111;
  width: 100%;
}

#action-button-local161:hover {
  background: #111111;
  color: #e06736;
}

/* Email Submission Form */
#email-input-box {
  display: block;
  width: 310px;
  height: 30px;
  border: 2px solid #ededed;
  border-radius: 4px;
  background: transparent;
  color: #ededed;
  font-family: Arial;
  margin: 20px auto;
}
