/* General */
.text {
  text-align: center;
}

.text > h1 {
  text-align: center;
  margin-bottom: 15px;
}

p {
  display: inline;
  margin: 5px;
}

/* We Are */
#artists {
  font-family: 'Oswald';
  font-size: 32px;
}

#explorers {
  font-size: 20px;
  letter-spacing: .1em;
  font-weight: 600;
}

#creators {
  font-family: 'Rajdhani';
  font-size: 36px;
  text-transform: uppercase;
}

#music-lovers {
  font-family: 'Open Sans';
  font-size: 20px;
  letter-spacing: .05em;
}

#party-goers {
  font-family: 'Oswald';
  font-size: 26px;
}

#one-mission {
  font-family: 'Oswald';
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 4em;
}

#mission-statement {
  font-size: 18px;
  width: 400px;
  letter-spacing: .02em;
}

/* Our Vision */
#is-a {
  font-size: 18px;
}

#san-francisco-community {
  font-family: 'Oswald';
  font-size: 28px;
  text-transform: uppercase;
  line-height: 3em;
}

#strengthened {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 22px;
}

#unified {
  font-family: 'Rajdhani';
  font-size: 34px;
  text-transform: uppercase;
}

#engagement {
  font-size: 18px;
  width: 400px;
  letter-spacing: .02em;
  line-height: 4em;
}

/* Email Submission Form */
#email-input-box {
  display: block;
  width: 310px;
  height: 30px;
  border: 2px solid #ededed;
  border-radius: 4px;
  background: transparent;
  color: #ededed;
  font-family: Arial;
  margin: 20px auto;
}

#email-submit-button {
  display: block;
  box-sizing: content-box;
  font-size: 18px;
  margin: auto;
  width: 310px;
  height: 40px;
}
