.spec-paragraph {
  text-align: justify;
  width: 300px;
  margin: 25px auto;
}

h2 {
  font-family: 'Oswald';
  font-size: 24px;
  text-transform: uppercase;
  margin: 100px auto 50px auto;
}

h3 {
  margin: 25px auto;
}

h4 {
  text-align: center;
}

ul {
  text-align: just;
  list-style-type: square;
  width: 300px;
  margin: 25px auto 50px auto;
  color: #ededed;
}

li {
  margin-bottom: 15px;
}
