/* Body Content Offset */
#body {
  position: relative;
  top: 50px;
}

.topnav {
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: #111111;
  z-index: 20;
  transition: height .7s;
}

.topnav a > button {
  animation-name: fadein;
  animation-duration: .7s;
  animation-delay: .7s;
  animation-fill-mode: both;
}

.home-link svg {
  float: left;
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width: 0.25;
  stroke-miterlimit: 1;
  margin-top: 15px;
  margin-left: 60px;
  transition: fill 0.3s, stroke 0.3s;
}

.topnav a:not(:first-child) {
  float: right;
  line-height: 50px;
  text-align: center;
}

.menu-icon {
  display: none;
  height: 32px;
}

.nav-button {
  height: 20px;
  padding: 0px;
  margin: 0px 50px;
  font-family: "Rajdhani";
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  border: none;
  border-top: 1px solid #131414;
  border-bottom: 1px solid #131414;
  background-color: transparent;
  transition: border-bottom 0.3s;
}

.nav-button:hover {
  border-top: 1px solid #141313;
  border-bottom: 1px solid #EF4423;
}

/* Responsive Design */
@media (max-width: 750px) {
  .topnav a.nav-link {
    display: none;
  }
  .topnav a.menu-icon {
    display: block;
    position: absolute;
    margin-right: 40px;
    top: 9px;
    right: 0px;
  }
  .topnav a.home-link svg {
    margin-left: 40px;
  }
}

@media (max-width: 750px) {
  .topnav.responsive {
    height: 200px;
    display: grid;
    grid-template-rows: 3fr 2fr 2fr 2fr;
  }
  .topnav.responsive a.nav-link {
    display: block;
    text-align: right;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
