#about {
  background: #111111;
  overflow: hidden;
}

/* AboutDescription */
#about-description {
  overflow: hidden;
  padding: 80px 0px 40px 0px;
}

#about-description svg {
  display: block;
  margin: 0 auto 40px auto;
}

#about-description p {
  display: block;
  text-align: justify;
  text-align-last: center;
  text-justify: auto;
  line-height: 150%;
  margin: 80px auto;
  padding: 0px 40px;
  min-width: 300px;
  max-width: 900px;
  color: #ededed;
  text-transform: uppercase;
  font-family: 'Rajdhani';
  font-size: 28px;
}

@media (max-width: 700px) {
  #about-description p {
    font-size: 18px;
    margin: 40px auto;
  }
}

#about-description img {
  display: block;
  margin: 80px auto;
  width: 100px;
}

.about-description-image {
  background-position: center;
  background-size: cover;
  height: 50vw;
  opacity: .75;
}

/* ClientLinks */
#client-links {
  display: flex;
  flex-wrap: wrap;
  background: red;
}

@media (max-width: 1200px) {
  #client-links h1 {
    font-size: 36px;
    letter-spacing: 0px;
  }
}

#client-links a {
  flex-basis: 50%;
  flex-grow: 1;
  min-width: 300px;
  height: 50vw;
}

#client-links button {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  filter: saturate(100%);
  transition: filter .7s;
}

#client-links button:hover {
  filter: saturate(0%);
}
