/* General */
#contact-form-section {
  position: relative;
  height: 800px;
}

#contact-form-container {
  position: relative;
  width: 60%;
  border: 2px #e75e26 solid;
  margin: auto;
}

@media (max-width: 700px) {
  #contact-form-container {
    width: calc(100% - 80px);
    margin: auto 40px;
  }
}

#contact-form-header {
  background: #e75e26;
}

#contact-form-body {
  padding: 20px;
}

#contact-form-container h1 {
  font-size: 48px;
  color: #111111;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

#contact-form-container h2 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

/* Dropdown */
#dropdown {
  position: relative;
  margin-bottom: 20px;
  border: 1px #ededed solid;
  padding: 10px;
}

#dropdown button, #dropdown a {
  display: block;
  width: 100%;
  background: none;
  border: none;
  font-family: 'Rajdhani';
  color: #ededed;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

#dropdown button:hover, #dropdown a:hover {
  background: #e75e26;
  color: #111111;
}

#dropdown img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
}

/* Form */
form {
  font-size: 14px;
  color: #ededed;
}

form input, textarea {
  display: block;
  background: none;
  color: #ededed;
  border: 1px #ededed solid;
  width: 100%;
}

form label {
  font-family: 'Rajdhani';
  text-transform: uppercase;
}

form input {
  height: 25px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #ededed;
}

form input::placeholder {
  color: #111111;
  opacity: 1;
}

#contact-form-submit-button {
  display: block;
  margin: 20px auto;
  height: 30px;
  width: 100%;
  background: #e75e26;
  border: none;
  font-family: 'Rajdhani';
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color .3s, color .7s;
}

#contact-form-body button:hover {
  background: #111111;
  color: #e75e26;
}
