/* General */
#contact-form-section {
  position: relative;
  height: 800px;
}

#contact-form-container {
  position: relative;
  width: 60%;
  border: 2px #ededed solid;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
}

#contact-form-container h1 {
  font-size: 22px;
  text-align: left;
  margin-bottom: 20px;
}

/* Dropdown */
#dropdown {
  position: relative;
  margin-bottom: 20px;
}

#dropdown button, #dropdown a {
  display: block;
  width: 100%;
  background: none;
  border: none;
  font-family: arial;
  color: #ededed;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

#dropdown button:hover, #dropdown a:hover {
  background: #e75e26;
  color: #111111;
}

#dropdown img {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
}

/* Form */
form {
  font-family: arial;
  font-size: 14px;
  color: #ededed;
}

form input, textarea {
  display: block;
  background: none;
  color: #ededed;
  border: 1px #ededed solid;
  border-radius: 5px;
  width: 100%;
}

form input {
  height: 25px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #ededed;
}

form button {
  display: block;
  margin: 20px auto;
}
