/* Corporate */
#corporate {
  background: #111111;
  overflow: hidden;
}

/* Prompt */
#prompt {
  background: #e75e26;
  height: 180px;
  position: relative;
}

#prompt p {
  font-family: 'Oswald';
  font-size: 48px;
  font-weight: 600;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* CorporateInfo */
#corporate-info-container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: #111111;
  padding: 20px;
}

.corporate-info-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  column-gap: 20px;
}

#corporate-info-section-1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

#corporate-info-section-2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

/* - Text */
.corporate-info-text h2 {
  font-family: 'Oswald';
  font-size: 24px;
  color: #ededed;
  text-transform: uppercase;
}

.corporate-info-text ul {
  padding-left: 18px;
  font-family: arial;
  color: #ededed;
  margin-top: 20px;
}

.corporate-info-text li {
  margin-bottom: 20px;
}

#corporate-info-text-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#corporate-info-text-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

/*  - Images */
.corporate-image-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
}

#corporate-image-container-1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#corporate-image-container-2 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.corporate-image {
  background-position: center;
  background-size: cover;
}

#corporateImage1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

#corporateImage2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

#corporateImage3 {
  grid-row-start: 1;
  grid-row-end: 2;
}

#corporateImage4 {
  grid-row-start: 2;
  grid-row-end: 3;
}

/* FormInstructions */
#form-instructions {
  margin: 40px;
}

#form-instructions h2 {
  font-family: 'Oswald';
  font-size: 24px;
  color: #ededed;
  text-transform: uppercase;
}

#form-instructions a {
  color: #e75e26;
  text-decoration-color: #e75e26;
}
