.event-module-link {
  text-decoration: none;
}

.event-module-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 250px;
  margin: 100px auto;
  background: #111111;
  cursor: pointer;
}

.event-module-image {
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 200px;
  margin-right: 20px;
  border: 3px #ededed solid;
  border-radius: 5px;
}

.event-module-text {
  position: relative;
  flex-grow: 1;
  color: #ededed;
}

.event-module-date {
  font-family: 'Oswald';
  font-size: 20px;
  text-transform: uppercase;
}

.event-module-promoter {
  font-family: 'Rajdhani';
  font-size: 18px;
  text-transform: uppercase;
}

.event-module-artists {
  font-family: 'Oswald';
  font-size: 26px;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .event-module-container {
    flex-direction: column;
    width: 250px;
    height: 470px;
  }
}
