/* Positioning */
.event-module-container {
  display: grid;
  grid-template-columns: 300px 1fr 100px;
  grid-column-gap: 20px;
  height: 200px;
  width: 100%;
  padding: 0px 80px;
  margin: 40px 0px;
}

.event-module-image {
  position: relative;
  bottom: 40px;
}

.event-module-image img {
  width: 100%;
}

.event-module-button {
  text-align: right;
}

.event-module-button button {
  display: block;
  clear: both;
  padding: 0px 20px;
  margin-bottom: 10px;
}

/* Text Formatting */
.event-module-text {
  margin: 0px;
  color: #ededed;
}

.event-module-date {
  color: #ededed;
  font-family: 'Oswald';
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.event-module-time {
  color: #ededed;
  font-family: 'Oswald';
  font-size: 14px;
}

.event-module-price {
  color: #ededed;
  font-family: 'Oswald';
  font-size: 14px;
  display: block;
  clear: both;
  text-transform: uppercase;
}

.event-module-date-mobile {
  display: none;
}

.event-module-promoter {
  font-family: 'Rajdhani';
  font-size: 14px;
  text-transform: uppercase;
}

.event-module-artists {
  font-family: 'Oswald';
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.event-module-link {
  text-decoration: none;
}

/* Responsive Design */

@media (max-width: 900px) {
  .event-module-container {
    grid-template-columns: 100px 2fr 100px;
    padding: 0px 20px;
  }

  .event-module-image {
    grid-column: 1 / 3;
  }

  .event-module-text {
    grid-column: 1 / 3;
  }

  .event-module-image img {
    display: none;
  }

  .event-module-date {
    display: none;
  }

  .event-module-artists {
    font-size: 20px;
  }

  .event-module-date-mobile {
    display: block;
    color: #ededed;
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
