
/* Container */
.event-module-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 100px auto;
  background: #111111;
  cursor: pointer;
}

@media (max-width: 700px) {
  .event-module-container {
    width: calc(100% - 80px);
    margin: 100px 40px;
  }
}

/* Top */
.event-module-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.event-module-image {
  width: 100%;
  margin-right: 20px;
}

.event-module-text {
  margin: 20px 0px;
  color: #ededed;
}

.event-module-date {
  font-family: 'Oswald';
  font-size: 24px;
  text-transform: uppercase;
}

.event-module-promoter {
  font-family: 'Rajdhani';
  font-size: 18px;
  text-transform: uppercase;
}

.event-module-artists {
  font-family: 'Oswald';
  font-size: 30px;
  text-transform: uppercase;
}

/* Bottom */
.event-module-bottom {
  position: relative;
  height: 20px;
  grid-row: 2 / 3;
}

/* Misc */
.event-module-link {
  text-decoration: none;
}
