#faq {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 60%;
  margin-bottom: 50px;
}

#faq h4 {
  font-family: 'Oswald';
  font-size: 22px;
  margin: 10px 0;
  color: white;
}

.faq-item {
  position: relative;
  border-top: solid #ededed 2px;
  margin: 20px auto;
  cursor: pointer;
}

.faq-item p {
  margin: 10px auto;
}

.dropdown-arrow {
  position: absolute;
  top: 5px;
  right: 0;
  height: 20px;
}
