#footer {
  width: 100%;
  background: #111111;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Rajdhani';
  color: #ededed;
}

.footer-box {
  position: relative;
  padding: 30px 10px 30px 60px;
}

/* Footer Grid Boxes */
#footer-about {
  font-family: "Rajdhani";
  grid-column: 1;
}

#footer-nav {
  grid-column: 2;
}

#footer-nav a {
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #111111;
  transition: border .3s;
}

#footer-nav a:hover {
  border-bottom: 1px solid #e75e26;
}

#footer-socials {
  grid-column: 3;
}

#footer-logo {
  display: block;
  width: 200px;
  margin-bottom: 40px;
}

#socials-flexbox {
  margin-bottom: 40px;
}

.footer-text {
  font-family: 'Rajdhani';
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  clear: left;
}

.footer-title {
  font-family: 'Oswald';
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.footer-link {
  color: #ededed;
  margin-bottom: 8px;
}

.social-icon {
  margin-right: 5px;
}

#footer-email-box {
  background: transparent;
  width: 80%;
  height: 30px;
  border: solid #ededed 2px;
  border-radius: 5px;
}

.footer-link {
  text-decoration: none;
}

#submit-button-footer {
  display: block;
  margin-top: 20px;
  font-size: 14px;
}

/* Byline */
#footer-byline {
  font-family: 'Rajdhani';
  display: block;
  margin-left: 60px;
  padding-bottom: 20px;
}

#copyright {
  font-size: 10px;
  padding-bottom: 30px;
}

.by {
  font-size: 14px;
  margin-bottom: 30px;
  text-decoration: none;
  color: #ededed;
}

/* Responsive Design */
@media (max-width: 750px) {
  #footer {
    height: auto;
    display: block;
  }
  .footer-box {
    display: block;
    padding-left: 40px;
  }
  #footer-byline {
    margin-left: 40px;
  }
}
