#hero-image {
  position: relative;
}

#hero-image > div {
  height: calc(100vw / (16 / 9));
  background-size: cover;
  filter: opacity(80%);
}

#hero-image h1 {
  position: absolute;
  font-size: 70px;
  letter-spacing: -2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
}

@media (max-width: 820px) {
  #hero-image > h1 {
    font-size: 50px;
  }
}
