/* AboutStatement */
#about-statement {
  position: relative;
  min-height: 240px;
  background: #111111;
  overflow: hidden;
}

#about-statement p {
  display: block;
  text-align: center;
  font-family: 'Rajdhani';
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  max-width: 600px;
  margin: 0px auto 50px auto;
  color: #ededed;
}

#about-statement img {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 40px;
}
