* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Oswald';
  font-size: 50px;
  font-weight: 600;
  color: #ededed;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: #ededed;
}

h4 {
  font-family: 'Oswald';
  color: #ededed;
}

p {
  font-family: arial;
  color: #ededed;
}

.button-underline {
  font-family: 'Rajdhani';
  font-size: 24px;
  text-transform: uppercase;
  border: none;
  background: none;
  color: #ededed;
  margin: 20px auto;
  letter-spacing: .1em;
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
  transition: color .3s, border-bottom .7s;
}

.button-underline:hover {
  color: #ff5524;
  border-top: 1px solid #111111;
  border-bottom: 1px solid #ff5524;
}
