* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Oswald';
  font-size: 50px;
  font-weight: 600;
  color: #ededed;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: #ededed;
}

h4 {
  font-family: 'Oswald';
  color: #ededed;
}

p {
  font-family: arial;
  color: #ededed;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
