#last-announced {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #ededed;
  background: rgba(17, 17, 17, .5);
  padding: 20px;
}

#last-announced h2 {
  font-family: 'Oswald';
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#last-announced h3 {
  font-family: arial;
  font-size: 16px;
  margin-bottom: 10px;
}

#last-announced h4 {
  font-family: courier;
  font-size: 14px;
  margin-bottom: 5px;
}

#last-announced p {
  font-family: courier;
  font-size: 14px;
}
