#main-content {
  position: relative;
  margin-top: 50px;
}

#grit {
  position: fixed;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100vw;
  z-index: 2;
  background-size: cover;
  opacity: .4;
  pointer-events: none;
}
