#marquee {
  position: relative;
  height: 180px;
  background: #e75e26;
  white-space: nowrap;
  overflow: hidden;
  transition: background-color .3s;
}

.marquee-text {
  position: absolute;
  top: 50%;
  left: 100vw;
  font-family: 'Oswald';
  font-size: 100px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  transform: translateY(-50%);
  transition: color .7s;
}

#marquee:hover {
  background: #111111;
}

#marquee:hover .marquee-text {
  color: #e75e26;
}
