#newsletter-sign-up {
  background: #ededed;
  overflow: hidden;
  height: 230px;
}

#newsletter-sign-up h1 {
  color: #111111;
  font-size: 48px;
  line-height: 230px;
}

#newsletter-sign-up h2 {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 600;
  font-size: 50px;
  letter-spacing: -2px;
  color: #111111;
  text-transform: uppercase;
  margin-top: 20px;
}

#newsletter-sign-up p {
  color: #111111;
  text-align: center;
  font-family: 'Rajdhani';
  font-size: 22px;
  font-weight: 600;
  margin: 4px 0px 10px 0px;
  text-transform: uppercase;
}

#newsletter-sign-up input {
  display: block;
  margin: 20px auto;
  width: 60%;
  height: 30px;
  border: 1px #111111 solid;
  background: none;
  text-align: center;
  font-family: 'Rajdhani';
  text-transform: uppercase;
  font-size: 18px;
  color: #111111;
}

@media (max-width: 700px) {
  #newsletter-sign-up h2 {
    font-size: 36px;
  }

  #newsletter-sign-up input {
    width: calc(100% - 80px);
    margin: 20px 40px;
  }
}

#submit-button-newsletter {
  display: block;
  margin: 20px auto;
  font-size: 18px;
}
