#specs {
  background: #111111;
  overflow: hidden;
}

/* SpecsInfo */
.spec-paragraph {
  text-align: justify;
  width: 300px;
  margin: 25px auto;
}

#specs > h2 {
  font-family: 'Oswald';
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 100px auto 50px auto;
}

#specs > h3 {
  margin: 25px auto;
}

#specs > h4 {
  text-align: center;
}

#specs > ul {
  text-align: just;
  list-style-type: square;
  width: 300px;
  margin: 25px auto 50px auto;
  font-family: arial;
  color: #ededed;
}

#specs li {
  margin-bottom: 15px;
}
