#specs {
  background: #111111;
  overflow: hidden;
  padding-bottom: 80px;
}

/* SpecsInfo */
.spec-paragraph {
  display: block;
  text-align: justify;
  text-align-last: center;
  text-justify: auto;
  line-height: 150%;
  margin: 0 auto 20px auto;
  max-width: 700px;
  padding: 0px 40px;
  color: #ededed;
  text-transform: uppercase;
  font-family: 'Rajdhani';
  font-size: 18px;
}

#specs h1 {
  margin: 80px auto;
}

@media (max-width: 700px) {
  #specs h1 {
    font-size: 46px;
    letter-spacing: -1px;
  }
}

#specs > h2 {
  font-family: 'Oswald';
  font-size: 48px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
  margin: 100px auto 50px auto;
}

#specs > h3 {
  margin: 25px auto;
}

#specs > h4 {
  font-family: 'Rajdhani';
  font-size: 36px;
  text-align: center;
  text-decoration: underline;
}

#specs > ul {
  display: flex;
  flex-direction: row;
  width: 60%;
  text-align: just;
  list-style-type: square;
  margin: 25px auto 50px auto;
  font-family: arial;
  color: #ededed;
}

#specs ul div {
  width: 50%;
  padding-right: 40px;
}

#specs li {
  font-family: 'Rajdhani';
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
  color: #ededed;
  line-height: 150%;
  position: relative;
  left: 40px;
}

@media (max-width: 900px) {
  #specs > h2 {
    font-size: 36px;
  }

  #specs ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #specs li {
    left: 0px;
  }

  #specs ul div {
    width: 100%;
    padding: 0px 40px;
  }
}
